# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_plugins/
.dart_tool/
*.swp
*.swo
*.lock
*.iml
*.idea/
*.metadata
*.project
*.classpath
*.settings/
.DS_Store
*.log
*.json
**/gradle/
**/gradlew
**/gradlew.bat
**/local.properties
**/GeneratedPluginRegistrant.java
**/GeneratedPluginRegistrant.h
**/GeneratedPluginRegistrant.m
**/Flutter.podspec
**/Pods/
**/Podfile.lock
**/xcuserdata/
**/.symlinks/
**/flutter_assets/
**/Flutter/app.flx
**/Flutter/app.dylib
**/Flutter/app.framework
**/Flutter/flutter_export_environment.sh
**/ServiceDefinitions.json

# Android
**/android/gradlew
**/android/gradlew.bat
**/android/.gradle/
**/android/local.properties
**/android/captures/
**/android/key.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Web
**/web/keys/



.cursor/
.specstory/
requirements.txt